---
import { Image, Picture } from "astro:assets";
import heroImg from "./assets/racks-raw.jpeg";
import CtaButton from "../../shared/CtaButton.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle from "../../shared/SubTitle.astro";
import Title from "../../shared/Title.astro";
import LazyImage from "../../shared/LazyImage.astro";

const heroSection = {
    headline1: "Accelerating",
    headline2: "Discovery,",
    headline3: "Reducing",
    headline4: "Costs,",
    headline5: "Improving",
    headline6: "Efficiency",
    subheading1:
        "Focuses on developing a high-performance computing data center and",
    subheading2:
        "AI infrastructure prototype that demonstrates the feasibility of using variable energy",
    subheading3:
        "for advanced computing tasks, with the goal of reducing costs and improving efficiency.",
    backgroundImage: "hero-background-image.jpg",
};

export interface Props {
    className?: string;
}

const { className = "" } = Astro.props;
---

<section class=`relative  ${className} w-full h-[60vh]` id="hero">
    <div class="w-full h-[60vh] pt-[80px]">
        <div
            class="w-full h-full grid grid-cols-1 md:grid-cols-2 justify-end bg-base-100 dark:bg-base-dark-900"
        >
            <div class="justify-center flex flex-col text-center md:ml-auto">
                <Title className="">
                    {heroSection.headline1}
                    <GradiantText>{" " + heroSection.headline2}<br /></GradiantText>
                    <GradiantText>{heroSection.headline3}</GradiantText>
                    {heroSection.headline4}<br />
                    {heroSection.headline5}
                    <GradiantText>{heroSection.headline6}</GradiantText>
                </Title>
                <SubTitle className="mt-6 leading-8 italic">
                    {heroSection.subheading1}
                    <br />
                    {heroSection.subheading2}<br />
                    {heroSection.subheading3}
                </SubTitle>
            </div>
            <div class="flex relative pt-8 md:p-0 overflow-hidden">
                <LazyImage
                    src={heroImg}
                    alt="A picture of the REPACSS cluster."
                    className="w-full h-full object-cover"
                />
                <svg
                    class="fill-base-100 dark:fill-base-dark-900 z-10 absolute top-0 start-0 h-full hidden md:block"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 500 400"
                >
                    <path d="M0 0l0 400L100 0Z"> </path>
                </svg>
            </div>
        </div>
    </div>
</section>
